---
import Container from "@/components/container.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="404 Not Found">
  <Container>
    <div class="min-h-[calc(100vh-16rem)] flex items-center justify-center">
      <div class="mt-16 text-center">
        <h1 class="text-4xl font-semibold tracking-tight lg:text-5xl">404</h1>
        <p class="mt-4 text-lg text-neutral-600">Page not found.</p>
        <a
          href="/"
          class="mt-8 inline-flex rounded-sm bg-neutral-950 px-6 py-3 font-medium text-white transition hover:bg-neutral-800">
          Back Home
        </a>
      </div>
    </div>
  </Container>
</Layout>
